.depoimentos {
    margin-bottom: 7.5rem;
}

.card__mod {
    background-color: var(--branco-gelo);
    border-color: var(--branco-gelo);

    padding-top: 2rem;
}

.card__body--mod {
    padding-top: .5rem!important;
    padding-bottom: 2rem!important;
}

.card__subtitulo {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;

    margin-bottom: 1.6875rem!important;
}

.card__paragrafo {
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.1375rem;

    max-width: 281px;
}

@media screen and (min-width: 992px) {
    .depoimentos {
        margin-bottom: 8.5rem;
    }

    .subtitulo__depoimentos {
        max-width: 475px!important;
    
        margin-bottom: 2.4156rem!important;
    }
}