.depoimentos {
    margin-bottom: 7.5rem;
}

.depoimentos--card {
    background-color: var(--branco-gelo);
    border-color: var(--branco-gelo);

    padding-top: 2rem;
}

.depoimentos__card--body {
    padding-top: .5rem!important;
    padding-bottom: 2rem!important;
}

.depoimentos__card_subtitulo {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;

    margin-bottom: 1.6875rem!important;
}

.depoimentos__card_paragrafo {
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.1375rem;

    max-width: 281px;
}

@media screen and (min-width: 992px) {
    .depoimentos {
        margin-bottom: 8.5rem;
    }

    .depoimentos--subtitulo {
        max-width: 475px!important;
    
        margin-bottom: 2.4156rem!important;
    }
}