:root {
    /* Cores */
    --azul-bebe: #8EADD5;
    --branco: #ffffff;
    --branco-gelo: #F6F6F6;
    --branco-fumaça: #fdfcfc;
    --cinza-claro: #667085;
    --cinza-escuro: #272D38;
    --preto: #000000;

    /* Fontes */
    --inter: 'Inter', sans-serif;
}