@import url(_variaveis.css);
@import url(../componentes/1-header/1-cabecalho.css);
@import url(../componentes/1-header/2-chamada.css);
@import url(../componentes/1-header/3-parcerias.css);

body {
    background: var(--branco-fumaça)!important;
    color: var(--cinza-escuro)!important;
    font-family: var(--inter)!important;
}

.subtitulo {
    font-size: 2rem;
    line-height: 2rem;
}

.paragrafo {
    font-size: .875rem;
    line-height: 1.75rem;
}

@media screen and (min-width: 992px) {
    .subtitulo {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}