@import url(_variaveis.css);
@import url(../componentes/1-header/1-cabecalho.css);
@import url(../componentes/1-header/2-chamada.css);
@import url(../componentes/1-header/3-parcerias.css);
@import url(../componentes/2-main/1-sistema.css);
@import url(../componentes/2-main/2-customizacao.css);
@import url(../componentes/2-main/3-depoimentos.css);
@import url(../componentes/2-main/4-novidade.css);
@import url(../componentes/3-footer/1-footer.css);

body {
    background: var(--branco-fumaça)!important;
    color: var(--cinza-escuro)!important;
    font-family: var(--inter)!important;
}

.subtitulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;

    max-width: 320px;
}

.paragrafo {
    font-size: .775rem;
    line-height: 1.5rem;

    max-width: 320px;
}

.btn--mod {
    background: var(--azul-bebe)!important;

    font-size: .875rem;
    font-weight: 600;
    line-height: 1.75rem;

    width: 8.75rem;
    height: 2.1875rem;
}

.btn--mod:hover {
    background: var(--cinza-claro)!important;
}

.seta {
    transform: rotate(90deg);
}

@media screen and (min-width: 375px) {
    .subtitulo {
        max-width: 375px;
    }

    .paragrafo {
        font-size: .875rem;
        line-height: 1.75rem;

        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .subtitulo {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    
        max-width: 320px;
    }

    .paragrafo {
        font-size: .875rem;
        line-height: 1.75rem;

        max-width: 375px;
    }
}

@media screen and (min-width: 992px) {
    .sistema {
        order: 2;
    }

    .sistema__textos {
        order: 2;
    }

    .sistema__img {
        order: 1;
    }

    .subtitulo {
        font-size: 3rem;
        line-height: 3rem;

        max-width: 435px;
    }
    
    .paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;

        max-width: 385px;
    }

    .seta {
        transform: none!important;
    }
}