.chamada {
    margin-top: 5.9375rem;
    margin-bottom: 7.5rem;
}

.chamada__subtitulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.1rem;
    max-width: 296px;
}

.chamada__paragrafo {
    font-size: .8125rem;
    line-height: 1.35rem;
    max-width: 18.5rem;
}

@media screen and (min-width: 425px) {
    .chamada__subtitulo {
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 23.625rem;
    }
    
    .chamada__paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;
        max-width: 23.625rem;
    }
}

@media screen and (min-width: 768px) {
    .chamada__subtitulo {
        font-size: 3rem;
        line-height: 3rem;
    
        max-width: 28.125rem;
    }

    .chamada__paragrafo {
        max-width: 27.6875rem;
    }
}

@media screen and (min-width: 992px) {
    .chamada__subtitulo {
        font-size: 3.5rem;
        line-height: 4rem;
        max-width: 29.6875rem;
    }

    .chamada__paragrafo {
        max-width: 29.6875rem;
    }
}

@media screen and (min-width: 1200px) {
    .chamada__subtitulo {
        font-size: 4rem;
        max-width: 33.75rem;
    }
    
    .chamada__paragrafo {
        font-size: 1.125rem;
        max-width: 33.125rem;
    }
}