.chamada {
    margin-top: 5.9375rem;
    margin-bottom: 7.5rem;
}

.chamada__subtitulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.1rem;
    max-width: 296px;
}

.chamada__paragrafo {
    font-size: 13px;
    line-height: 1.35rem;
    max-width: 296px;
}

.chamada__btn {
    background: var(--azul-bebe)!important;

    font-size: .875rem;
    font-weight: 600;
    line-height: 1.75rem;

    width: 8.75rem;
    height: 2.1875rem;
}

.chamada__btn:hover {
    background: var(--cinza-claro)!important;
}

.chamada__img {
    background-image: url(../../../img/icon/img-chamada.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 358px;
    height: 358px;
}

@media screen and (min-width: 425px) {
    .chamada__subtitulo {
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 378px;
    }
    
    .chamada__paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;
        max-width: 23.625rem;
    }
}

@media screen and (min-width: 992px) {
    .chamada__subtitulo {
        font-size: 3.5rem;
        line-height: 4rem;
        max-width: 29.6875rem;
    }

    .chamada__paragrafo {
        font-size: 1rem;
        max-width: 29.6875rem;
    }

    .chamada__img { 
        width: 450px;
        height: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .chamada__subtitulo {
        font-size: 4rem;
        max-width: 33.75rem;
    }
    
    .chamada__paragrafo {
        font-size: 1.125rem;
        max-width: 33.125rem;
    }
}