.parcerias {
    margin-bottom: 5.5rem;
}

.parcerias__paragrafo {
    color: var(--cinza-claro);
    font-size: .875rem;
    font-weight: 300;
    line-height: .875rem;
}

.parcerias__logotipo_bg {
    background-color: var(--branco-gelo);
}

.parcerias__logotipo {
    width: 21vw;
    height: 3.5vh;
}

.img-zoom {
    width: 12vw;
    height: 3.5vh;
}

@media screen and (min-width: 765px) {
    .parcerias__logotipo_bg {
        width: 90%!important;
    }

    .img-zoom {
        width: 21vw;
        height: 3.5vh;
    }
}

@media screen and (min-width: 992px) {
    .parcerias {
        margin-bottom: 8.5rem;
    }
}